{% for article in articles %}
<div class="s_box">
    <h3><a href="{{ url_for('main.article', id=article.id) }}">
    {{ article.title }}</a></h3>
    <div class="dateview">
        <ul>
            <li>
                <i class="iconfont icon-yonghu-tianchong"></i>
                <a href="{{ url_for('main.user', username=article.author.username) }}">
                    {{ article.author.username }}</a>
            </li>
            <li>
                <i class="iconfont icon-shijian1"></i> {{ article.local_time_format }}
            </li>
            <li>
                <a href="{{ url_for('main.category', name=article.category.name) }}">
                    <i class="iconfont icon-icon-test"></i> {{ article.category.name }}</a>
            </li>
            <li>{% for tag in article.tags.all() %}
                 <a href="{{ url_for('main.tag', name=tag.name) }}">
                     <i class="iconfont icon-biaoqian"></i>{{ tag.name }}</a>
                {% endfor %}
            </li>
            <li>
                <i class="iconfont icon-browse"></i> {{ article.views }}
            </li>
            <li>
                <a href="{{ url_for('main.article', id=article.id) }}#comments">
                   <i class="iconfont icon-pinglun1"></i> {{ article.comments.count() }}</a>
            </li>
            <li>
                <i class="iconfont icon-dianzan"></i> <span>({{ article.up_num }})</span>
            </li>
        </ul>
    </div>
    <ul class="articles-summary-body">
        <p>{% if article.summary %}
            {{ article.summary | safe }}
            {% endif %}</p>
        <a title="{{ article.title }}" href="{{ url_for('main.article', id=article.id) }}"
           target="_blank" class="readmore">阅读全文&gt;&gt;</a>
    </ul>
</div>
{% endfor %}