<ul class="articles">
    {% for article in articles %}
    <li class="article">
        <div class="article-user">
        <div class="profile-thumbnail">
            <a href="{{ url_for('auth.show_user', username=article.author.username) }}">
                <img class="img-rounded profile-thumbnail"
                    src="{{ url_for('static',filename=article.author.avatar()) }}"
                height="45" width="45">
            </a>
        </div>
        <div class="article-author">
            <a href="{{ url_for('auth.show_user', username=article.author.username) }}">
                {{ article.author.username }}
            </a>
        </div>
        </div>
        <div class="article-date">{{ article.timestamp }}</div>
        <div class="article-title"><a href="{{ url_for('main.article', id=article.id) }}">
            {{ article.title }}</a></div>
        <div class="article-content">
            {% if article.content_html %}
                {{ article.content_html | safe }}
            {% else %}
                {{ article.content }}
            {% endif %}
            <div class="article-footer">
                {% if current_user == article.author %}
                <a href="{{ url_for('main.edit', id=article.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('main.edit', id=article.id) }}">
                     <span class="label label-danger">编辑[管理员]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('main.article', id=article.id) }}#comments">
                    <span class="label label-primary">
                        {{ article.comments.count() }} 评论</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>