{% for article in articles %}
    <h3><a href="{{ url_for('main.article', id=article.id) }}">
    {{ article.title }}</a></h3>
    <ul>
        <p>{% if article.summary %}
            {{ article.summary | safe }}
            {% endif %}</p>
        <a title="{{ article.title }}" href="{{ url_for('main.article', id=article.id) }}"
           target="_blank" class="readmore">阅读全文&gt;&gt;</a>
        <a href="{{ url_for('main.article', id=article.id) }}#comments" class="readmore">
                    ( {{ article.comments.count() }} )评论
            </a>
    </ul>
    <div class="dateview">
    <ul class="lll">
        <li class="article-author">
            <a href="{{ url_for('main.user', username=article.author.username) }}">
                <img class="img-rounded"
                    src="{{ article.author.gravatar(size=20) }}">
            </a>
        </li>
        <li>
            <a href="{{ url_for('main.user', username=article.author.username) }}">
                {{ article.author.username }}
            </a>
        </li>
        <li>
            发布于 {{ moment(article.timestamp).format('YYYY年M月D日a h:mm:ss') }}
        </li>

    </ul>
    <ul class="rrr">
        <li>标签：<a href="/jstt/bj/">心得笔记</a></li>
    </ul>
    </div>
{% endfor %}