<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <ul class="comment_title">
            <li>
                <a href="{{ url_for('main.user',username=comment.author.username) }}">
                    <img src="{{ comment.author.gravatar(size=32) }}"></a>
            </li>
            <li>
                <a href="{{ url_for('main.user',username=comment.author.username) }}">
                    {{ comment.author.username }}</a>
            </li>
            <li>
                {{ moment(comment.timestamp).format('YYYY年M月D日a h:mm:ss') }}
            </li>
        </ul>
        <div class="comment_content">
            {% if comment.disabled %}
            <p><i>此评论已被屏蔽</i></p>
            {% endif %}
            {% if moderate or not comment.disabled %}
                {% if comment.content_html %}
                    {{ comment.content_html | safe }}
                {% else %}
                    {{ comment.content }}
                {% endif %}
            {% endif %}
            {% if current_user.can(Permission.MODERATE_COMMENTS) %}
            <div class="article_footer moderate">
                {% if comment.disabled %}
                <a href="{{ url_for('.moderate_enable',
                    id=comment.id, page=page) }}"><span class="com_btn btn_blue">解禁</span></a>
                {% else %}
                <a href="{{ url_for('.moderate_disable',
                    id=comment.id, page=page) }}"><span class="com_btn btn_red">屏蔽</span></a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>