{% extends "index.html" %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block title %}{{ articles[0].title }}{% endblock %}

{% block page_content %}
{% for article in articles %}
<div class="article">
    <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>
        >><a href="#" target="_blank">未分类</a>>> 正文</span></h2>
    <h3 class="article_title"><a href="{{ url_for('main.article', id=article.id) }}">
    {{ article.title }}</a></h3>
    <ul class="article_date">
        <li>发布于{{ moment(article.timestamp).format('YYYY年M月D日a h:mm:ss') }}</li>
        <li>标签：</li>
        <li class="f_r"><a href="{{ url_for('main.article', id=article.id) }}#comments">
                ({{ article.comments.count() }})评论</a></li>
        <li class="f_r">阅读()</li>
    </ul>
    <div class="article_content">
        {% if article.content_html %}
            {{ article.content_html | safe }}
        {% else %}
            {{ article.content }}
        {% endif %}
    </div>
    <div class="article_footer f_r">
            {% if current_user == article.author %}
            <a href="{{ url_for('main.edit', id=article.id) }}">
                <span class="com_btn btn_blue">编辑</span>
            </a>
            {% elif current_user.is_administrator() %}
            <a href="{{ url_for('main.edit', id=article.id) }}">
                 <span class="com_btn btn_red">编辑[管理员]</span>
            </a>
            {% endif %}
        </div>
</div>
{% endfor %}
<h3 id="comments">评论</h3>
{% if current_user.can(Permission.COMMENT) %}
<div class="comments_form">
    <form  role="form" method="post">
        {{ form.hidden_tag() }}
        {{ form.content.label }}
        {{ form.content(class='comment_table',placeholder='严禁讨论涉及政治，宗教相关话题！') }}
        {{ form.submit(class='com_btn') }}
    </form>
</div>
{% endif %}

{% include '_comments.html' %}

{% if pagination %}
{{ macros.pagination_widget(pagination, '.article',
fragment='#comments', id=articles[0].id) }}
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}