<!doctype html>
<html lang="zh-CN">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="keywords" content="个人博客 python web 爬虫">
    <meta name="description" content="个人建站测试">
    <title>{% block title %}左岸个人博客-人生苦短我用python{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='tools.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='tools.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

    {% block scripts %}
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <![endif]-->
    <script type=text/javascript src="{{ url_for('static', filename='js/base.js') }}"></script>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-CN") }}
    {% endblock %}

    {% endblock %}
</head>
<body>
    {% block navbar %}
    <div id="wrapper">
        <header>
        <div class="headtop"></div>
        {% for message in get_flashed_messages() %}
            <div class="alert-warning"><p>{{ message }}</p></div>
        {% endfor %}
        <div class="contenttop">
            <div class="logo f_l">
                <a name="top" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="左岸"
                title="彼岸花开成海"></a>
            </div>
            <div class="search f_r">
		        <div class="f_l">
                <form action="#" method="post" name="searchform" id="searchform">
                    <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字"
                           style="color: rgb(153, 153, 153);"
                           onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}"
                           onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
                    <input name="Submit" class="input_submit" value="搜索" type="submit">
                </form>
		        </div>
                <div class="f_r">
                {% if current_user.is_authenticated %}
                    <div class="dropdown">
                    <a href="#" class="tx">
                    <img src="{{ current_user.gravatar(size=50) }}"></a>
                    <ul >
                        <li><a href="{{ url_for('main.user',username=current_user.username) }}">
                            {{ current_user.username }}</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                    </ul>
                    </div>
                {% else %}
                    <a class="login f_r" href="{{ url_for('auth.login') }}">登录</a>
                {% endif %}
                </div>
            </div>
            <div class="blank"></div>
            <nav>
                <div  class="navigation">
                    <ul class="menu">
                        <li><a href="{{ url_for('main.index') }}">网站首页</a></li>
                        <li><a href="#">关于我</a>
                            <ul>
                                <li><a href="about.html">个人简介</a></li>
                                <li><a href="listpic.html">个人相册</a></li>
                            </ul>
                        </li>
                        <li><a href="#">我的日记</a>
                            <ul>
                                <li><a href="newslistpic.html">个人日记</a></li>
                                <li><a href="newslistpic.html">学习笔记</a></li>
                            </ul>
                        </li>
                        <li><a href="newslistpic.html">技术文章</a> </li>
                        <li><a href="#">给我留言</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
        </header>

    {% endblock %}

    <div class="jztop"></div>

    {% block content %}{% endblock %}

    <div class="jzend"></div>

    <div class="footerpush"></div>

    <a href="#top" id="back-to-top" >
    <img src="{{ url_for('static', filename='images/back_top.jpg') }}"></a>

    </div>

<footer>
    <div class="footer">
    <p>&copy; 2018, Make A Dream Come True</p>
    <p>Powered by <a href="https://www.python.org/">Python</a>,
    <a href="http://docs.jinkan.org/docs/flask/">Flask</a>,
    <a href="http://www.yangqq.com">杨青个人博客</a>.
    </p>
    <p>Server framework by gunicorn, nginx, supervisor.</p>
    </div>
</footer>
</body>
</html>

