{% extends "denglu_base.html" %}

{% block title %}修改个人资料{% endblock %}

{% block content %}
{% from '_form_error.html' import render_message %}
<div class="profile-edit s_box">
    <div class="panel-body">
        <div class="form-title">
            <h3 class="form-top-l f_l" >修改个人资料</h3>
        </div>
        <form  role="form" method="post">
           {{ form.hidden_tag() }}
            {% if form.email %}
            <div class="form-item">
               <label class="label-con"><span class="required">*</span>
                   {{ form.email.label }}</label>
               {{ render_message(form.email,class='form-con',placeholder='电子邮箱') }}
            </div>
            {% endif %}
            {% if form.username %}
            <div class="form-item">
               <label class="label-con"><span class="required">*</span>
                   {{ form.username.label }}</label>
                   {{ render_message(form.username,class='form-con',placeholder='用户名') }}
            </div>
            {% endif %}
            {% if form.role %}
            <div class="form-item">
               <label class="label-con"><span class="required">*</span>
                   {{ form.role.label }}</label>
                   {{ render_message(form.role,class='form-con') }}
            </div>
            {% endif %}
            <div class="form-item">
               <label class="label-con"><span class="required">*</span>
                   {{ form.name.label }}</label>
                   {{ render_message(form.name,class='form-con',placeholder='昵称') }}
            </div>
            <div class="form-item">
               <label class="label-con"><span class="required">*</span>
                   {{ form.location.label }}</label>
                   {{ render_message(form.location,class='form-con',placeholder='地址') }}
            </div>
            <div class="form-item">
               <label class="label-con"><span class="required">*</span>
                   {{ form.about_me.label }}</label>
                   {{ render_message(form.about_me,class='form-con',placeholder='个人简介') }}
            </div>

           <div class="form-item">
               {{ form.submit(class='btn-sub gray btn-reg') }}
           </div>
       </form>
    </div>
</div>
{% endblock %}