{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="bloglist f_l">
            {% block page_content %}
                {% if current_user.is_authenticated %}
                <ul class="nav-tabs">
                    <li {% if not show_followed %} class='active'{% endif %}>
                        <a href="{{ url_for('.show_all') }}">全部文章</a>
                    </li>
                    <li {% if show_followed %} class="active" {% endif %}>
                        <a href="{{ url_for('.show_followed') }}">我的关注</a>
                    </li>
                </ul>
                {% endif %}

                {% include 'module/_articles_summary.html' %}

            {% endblock %}
        </div>

        <div class="r_box f_r">
            {% block subfield %}
            <div class="s_box">
                <h3 class="tit">标签</h3>
                <ul class="label_box">
                    {% for tag in tags %}
                        <li>
                            <a href="{{ url_for('main.tag', name=tag.name) }}">
                                {{ tag.name }} ({{ tag.articles.count() }})</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="s_box tuwen">
                <h3 class="tit">热评文章</h3>
                    {% include 'module/_com_articles.html' %}
            </div>
            <div class="s_box">
                <h3 class="tit">点击排行</h3>
                    {% include 'module/_views_articles.html' %}
            </div>
            <div class="ad"><img src="{{ url_for('static', filename='images/lan.jpg') }}"></div>
            {% endblock %}
        </div>
        {% block pagination %}
            {% if pagination %}
                {{ macros.pagination_widget(pagination, endpoint) }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}