{% extends "index.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ user.username }}的个人资料{% endblock %}

{% block page_content %}
<div class="profile clearfix s_box">
    <img class="portrait f_l" src="{{ user.gravatar(size=200) }}" title="个人头像" width="200" height="200" >
    <div class="profile-text">
        <h3>{{ user.username }}</h3>
        {% if user.name %}<p><b>昵称：</b>{{ user.name }}</p>{% endif %}
        {% if user.location %}
        <p><b>来自：</b><a href="https://maps.baidu.com/?q={{ user.location }}">
        {{ user.location }}</a></p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><b>邮箱：</b><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p><b>简介：</b>{{ user.about_me }}</p>{% endif %}
        <p>注册时间为{{ moment(user.member_since).format('LL') }}.
        最后一次登录时间为{{ moment(user.last_seen).fromNow() }}.</p>
        <div class="show_follow">
            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                <button id ='{{ user.id }}'{% if not current_user.is_following(user) %} class="btn_follow_blue"
                        {% else %} class="btn_follow_blue btn_follow_red"{% endif %}
                    onclick=follow('{{ user.username }}',{{ user.id }})>
                {% if not current_user.is_following(user) %}+ 关注{% else %}取消关注{% endif %}</button>
            {% endif %}
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
            <span class="btn_follow_green">他关注了你</span>
            {% endif %}
        </div>
    </div>
    <div class="profile-edit">
    {% if current_user.is_administrator() %}
    <a href="{{ url_for('main.edit_profile_admin',id=user.id) }}">
        <span class="btn_red" >修改 [管理员</span></a>
    {% endif %}
    {% if user == current_user %}
    <a href="{{ url_for('main.edit_profile',username=user.username) }}">
        <span class="btn_blue" >修改</span></a>
    {% endif %}
    </div>
</div>

<ul class="nav-tabs profile-nav">
    <li><a href="{{ url_for('main.user',username=user.username) }}">他的文章({{ user.articles.count() }})</a></li>
    <li><a href="##" onclick=showAtBottom("{{ url_for('main.comment',username=user.username) }}")>
        他的回答({{ user.comments.count() }})</a></li>
    <li><a href="##" onclick=showAtBottom("{{ url_for('main.followed_by',username=user.username) }}")>
        他关注的人({{ user.followed.count() - 1 }})</a></li>
    <li><a href="##" onclick=showAtBottom("{{ url_for('main.followers',username=user.username) }}")>
        关注他的人({{ user.followers.count() - 1 }})</a></li>
</ul>
<div class="profile-content">
{% include 'module/_articles_summary.html' %}

{% if pagination %}
    {{ macros.pagination_widget(pagination, endpoint,username=user.username) }}
{% endif %}

</div>
{% endblock %}

{% block pagination %}
{% endblock %}