@charset "utf-8";
/*文章*/
.bloglist {
	width: 700px;
	overflow: hidden;
	margin-left: 10px;
    margin-top: 10px;
}
.bloglist h3 {
	color: #333;
	font-size: 24px;
	font-family: "微软雅黑";
}
.articles-summary-body {
    padding: 10px 15px 25px 15px;
}
.bloglist ul p {
    text-indent: 2em;
    line-height: 24px;
}
.nav-tabs {
    line-height: 35px;
    font-size: 18px;
    margin-bottom: 6px;
}
.nav-tabs:after {
    content:"";
    display: block;
    clear: both;
}
.nav-tabs li {
    background-color: #fff;
    border-radius: 6px;
    float: left;
    padding: 0px 8px;
    margin: 0 15px;
}
.nav-tabs li.active {
    font-weight: bold;
    color: #000;
    border-bottom: #808080 2px solid;
}
.act {
    font-weight: bold;
    border-bottom: #808080 2px solid;
}
.dateview {
	width: 100%;
	overflow: hidden;
	margin-top: 5px;
	font-size: 12px;
	color: #2f2f2fb3;
}
.dateview li{
    float: left;
	margin-right: 10px;
}
.dateview li a {
	color: #2d2d2dcc;
	margin-right: 3px;
}
.dateview li i{
    font-size: 12px;
}
a.readmore {
	background: #4a4a4a;
	color: #fff;
	padding: 3px 8px;
	float: right;
	margin: 0 10px;
	border-radius: 3px;
}
/* 右边栏 */
.r_box {
	width: 260px;
	margin: 10px 10px 0 0px;
}
.tit {
	line-height: 35px;
	font-size: 18px;
	height: 35px;
	padding-left: 10px;
	border-bottom: #cfcfcf 1px solid;
}
/* 个人栏 */
.tit01 {
    padding: 20px 15px;
}
.tit-author {
    border-bottom: #b6b6b6 1px solid;
    padding: 15px 0;
}
.tit-author dt {
    overflow: visible;
    position: relative;
    display: inline-block;
    margin-left: 4px;
}
.tit-author dd {
    padding-left: 10px;
    vertical-align: 16px;
    display: inline-block;
}
.tit-author dd h3 {
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    line-height: 30px;
    height: 30px;
}
.tit-content {
    text-align: center;
    border-bottom: #b6b6b6 1px solid;
    padding: 20px 0;
}
.tit-content dl {
    display: inline-block;
    width: 21%;
    line-height: 24px;
}
.tit-content dl dt {
    font-size: 15px;
    color: #666;
}
.tit-content dl dd {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
}
/* 标签 */
.label_box {
    list-style: none outside none;
    margin: 15px 2px;
    text-align: center;
}
.label_box li {
    display: inline-block;
    margin: 5px 0;
}
.label_box li a {
      	-moz-border-radius: 80px 30px 30px 20px / 20px 25px 10px 10px;
      	-webkit-border-radius: 80px 30px 30px 20px / 20px 25px 10px 10px;
        border-radius: 80px 30px 30px 20px / 20px 25px 10px 10px;
      	background: #232B30; /* old browsers */
      	background: -moz-linear-gradient(top, #3D4850 3%,
      	    #313d45 4%, #232B30 100%); /* firefox */
      	background: -webkit-gradient(linear, left top, left bottom,
      	    color-stop(3%,#3D4850), color-stop(4%,#313d45),
      	     color-stop(100%,#232B30)); /* webkit */
      	filter: progid:DXImageTransform.Microsoft.
      	    gradient( startColorstr='#3D4850', endColorstr='#232B30',
            GradientType=0 ); /* ie */
      	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
      	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
      	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
        color: #FFFFFF;
        margin-left: 5px;
        padding: 3px 12px;
      	-webkit-transition: all 0.5s ease-in 0s;
        -moz-transition: all 0.5s ease-in 0s;
        -o-transition: all 0.5s ease-in 0s;
        transition: all 0.5s ease-in 0s;
      	zoom:1;
}
.label_box li a:hover {
    -moz-border-radius:20px 30px 10px 10px / 70px 20px 38px 20px;
    -webkit-border-radius:20px 30px 10px 10px / 70px 20px 38px 20px;
    border-radius:30px 20px 25px 38px / 50px 10px 50px 20px;
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
    color: #7cf258;
}
/*图文列表*/
.tuwen {
	clear: both;
	overflow: hidden;
}
.tuwen li b {
	overflow: hidden;
	width: 100%;
	font-weight: normal;
	color: #333;
	font-size: 14px;
	line-height: 30px
}
.tuwen p {
	margin-top: 5px
}

.tuwen li:hover {
	background: #f4f3f3
}
/*排行*/
.rank li {
	clear: both;
	padding-left: 5px;
	overflow: hidden;
}
.rank {
	margin: 10px 0
}
.rank li a {
	color: #333;
}
.ph {
	font-size: 12px;
    color: #2f2f2fb3;
}
.rank li i {
    font-size: 12px;
}
/*首页左侧广告 260*/
.ad {
	width: 260px;
	overflow: hidden;
	margin: 20px 0;
	border-radius: 5px;
}
.ad img {
	width: 260px;
}
