{% extends 'denglu_base.html' %}

{% block title %}重置密码{% endblock %}

{% block content %}

<div class="panel reg">
    <div class="panel-body">
        <div class="form-title">
            <h3 class="form-top-l f_l">确认账号</h3>
        </div>
        <form role="form" method="post">
            {{ form.hidden_tag() }}
            <div class="form-item">
                <label class="label-con">{{ form.email.label }}</label>
                {{ render_message(form.email,class='form-con',placeholder='邮箱账号') }}
            </div>
            <div class="form-item">
               {{ form.submit(class='btn-sub gray btn-reg') }}
           </div>
        </form>
    </div>
</div>
{% endblock %}