{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ user.username }}的个人资料{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename=user.avatar() ) }}">
<div class="profile-header">
    <h2>个人资料</h2>
    <ul>
        <li><strong>名字：</strong>{{ user.name }}</li>
        <li><strong>邮箱：</strong>{{ user.email }}</li>
        <li><strong>地址：</strong>{{ user.location }}</li>
        <li><strong>个人风采：</strong>{{ user.about_me }}</li>
    </ul>
    <p>共{{ user.articles.count() }}篇文章</p>
    <p>
    {% if current_user.can(Permission.FOLLOW) and user != current_user %}
        {% if not current_user.is_following(user) %}
        <a href="{{ url_for('auth.follow', username=user.username) }}"
           class="btn btn-primary">关注</a>
        {% else %}
        <a href="{{ url_for('auth.unfollow', username=user.username) }}"
           class="btn btn-default">取消关注</a>
        {% endif %}
    {% endif %}
    <a href="{{ url_for('auth.followed_by', username=user.username) }}">
        关注: <span class="badge">{{ user.followed.count() - 1 }}</span></a>
    <a href="{{ url_for('auth.followers', username=user.username) }}">
        粉丝: <span class="badge">{{ user.followers.count() - 1 }}</span></a>
    {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
    | <span class="label label-default">他关注了你</span>
    {% endif %}
    </p>
    <p>
        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('auth.user',username=user.username) }}">修改</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin',id=user.id) }}">修改 [管理员]</a>
        {% endif %}
    </p>
</div>
</div>
<h3>{{ user.username }}的文章</h3>
{% include '_articles.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'auth.show_user',
        username=user.username) }}
</div>
{% endif %}
{% endblock %}