{% extends "main/index.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ article.title }}{% endblock %}

{% block page_content %}
<div class="article s_box">
    <h3 class="article_title"><a href="{{ url_for('main.article', id=article.id) }}">
    {{ article.title }}</a></h3>
    <ul class="article_date">
        <li><i class="iconfont icon-shijian1"></i> {{ article.local_time_format }}</li>
        <li>
            <a href="{{ url_for('main.category', name=article.category.name) }}">
            <i class="iconfont icon-icon-test"></i> {{ article.category.name }}</a>
        </li>
        <li>{% for tag in article.tags.all() %}
                <i class="iconfont icon-biaoqian"></i>
                 <a href="{{ url_for('main.tag', name=tag.name) }}">{{ tag.name }}</a>
            {% endfor %}
        </li>
        <li class="f_r"><a href="{{ url_for('main.article', id=article.id) }}#comments"><i class="iconfont icon-pinglun1">
            </i> <span>({{ article.comments.count() }})</span></a></li>
        <li class="f_r" articleid="{{ article.id }}"><a href="javascript:;" onclick="isArticleFavorite(this)">
            <i class="iconfont {% if is_a_fav %}icon-dianzan{% else %}icon-dianzan1{% endif %}"></i> <span>({{ article.up_num }})</span></a></li>
        <li class="f_r"><i class="iconfont icon-browse"></i> <span>({{ article.views }})</span></li>
    </ul>
    <div class="article_content">
        {% if article.content_html %}
            {{ article.content_html | safe }}
        {% else %}
            {{ article.content }}
        {% endif %}
    </div>
    <div class="f_r">
        {% if current_user == article.author %}
        <a href="{{ url_for('main.edit', id=article.id) }}">
            <span class="btn_blue">编辑</span>
        </a>
        {% elif current_user.is_administrator() %}
        <a href="{{ url_for('main.edit', id=article.id) }}">
             <span class="btn_red">编辑[管理员]</span>
        </a>
        {% endif %}
    </div>
</div>

<div class="s_box">
<h3 id="comments">评论</h3>
{% if current_user.can(Permission.COMMENT) %}
<div class="comments_form">
    <form id="comment_ajax_form">
        {{ form.hidden_tag() }}
        {{ form.content.label }}
        {% if form.content.errors %}
            {% for error in form.content.errors %}
                <p class="form_edit_error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.content(class='comment_table',placeholder='严禁讨论涉及政治，宗教相关话题！') }}
        <input type="text" style="display:none" name="article_id" value="{{ article.id }}">
        <input type="reset" id="input_res" style="display:none">
        {{ form.submit(class='com_btn', id='form_sub') }}
    </form>
</div>
{% endif %}
</div>

<div id="comment_box" class="s_box" a_id="{{ article.id }}"></div>


{% endblock %}

{% block subfield %}
    <div class="tit01 s_box">
        <dl class="tit-author clearfix">
            <dt>
            <a href="{{ url_for('main.user', username=article.author.username) }}">
                <img class="portrait portrait_60" {% if article.author.avatar_url %}
                     src="{{ article.author.avatar_url }}"{% endif %}></a>
            </dt>
            <dd>
            <h3><a href="{{ url_for('main.user', username=article.author.username) }}">
                    {{ article.author.username }}</a></h3>
            </dd>
        <div class="show_follow">
            {% if current_user.can(Permission.FOLLOW) and article.author != current_user %}
                <button id ='{{ article.author.id }}'
                        {% if not current_user.is_following(article.author) %} class="btn_follow_blue"
                        {% else %} class="btn_follow_blue btn_follow_red"{% endif %}
                    onclick=follow('{{ article.author.username }}',{{ article.author.id }})>
                {% if not current_user.is_following(article.author) %}+ 关注{% else %}取消关注{% endif %}</button>
            {% endif %}
            {% if current_user.is_authenticated and article.author != current_user and article.author.is_following(current_user) %}
            <span class="btn_follow_green">他关注了你</span>
            {% endif %}
        </div>
        </dl>
        <div class="tit-content clearfix">
            <dl>
                <dt>原创</dt>
                <dd>{{ article.author.articles.count() }}</dd>
            </dl>
            <dl>
                <dt>粉丝</dt>
                <dd>{{ article.author.followers.count() - 1 }}</dd>
            </dl>
            <dl>
                <dt>关注</dt>
                <dd>{{ article.author.followed.count() - 1 }}</dd>
            </dl>
            <dl>
                <dt>评论</dt>
                <dd>{{ article.author.comments.count() }}</dd>
            </dl>
        </div>
    </div>
    {{ super() }}
{% endblock %}

{#评论分页功能#}
{#{% block pagination %}#}
{#{% if pagination %}#}
{#{{ macros.pagination_widget(pagination, '.article',#}
{#fragment='#comments', id=article.id) }}#}
{#{% endif %}#}
{#{% endblock %}#}

{% block scripts %}
    {{ super() }}
    {% assets "article_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}