<div class="s_box">
{% for follow in follows %}
{% if user != follow.user %}
    <div class="follow-item">
        <div class="f_r">
            {% if current_user.can(Permission.FOLLOW) and follow.user != current_user %}
                <button id ='{{ follow.user.id }}'{% if not current_user.is_following(follow.user) %} class="btn_follow_blue"
                        {% else %} class="btn_follow_blue btn_follow_red"{% endif %}
                    onclick=follow('{{ follow.user.username }}',{{ follow.user.id }})>
                {% if not current_user.is_following(follow.user) %}+ 关注{% else %}取消关注{% endif %}</button>
            {% endif %}
        </div>
        <div class="follow-img f_l"><a href="{{ url_for('main.user', username=follow.user.username) }}">
            <img src="{{ follow.user.gravatar(size=50) }}"></a></div>
        <div class="follow-text"><h2><a href="{{ url_for('main.user', username=follow.user.username) }}">
            {{ follow.user.username }}</a></h2>
            <p class="follow-about">{% if follow.user.about_me %}{{ follow.user.about_me }} {% endif %}</p>
            <p class="follow-view"> <span>{% if follow.user.articles.all() %}{{ follow.user.articles.count() }} 文章{% endif %}</span>
                <span>{% if follow.user.comments.all() %}{{ follow.user.comments.count() }} 评论{% endif %}</span>
                <span>{% if follow.user.followed.all() %}{{ follow.user.followed.count() - 1 }} 关注{% endif %}</span>
            </p>
        </div>
    </div>
{% endif %}
{% endfor %}

{% include 'module/_ajax_pagination.html' %}
</div>