<div class="s_box">
<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <ul class="comment_title">
            <li>
                <a href="{{ url_for('main.user',username=comment.author.username) }}">
                    {{ comment.author.username }}</a>
                {% if comment.parent_id %}
                    回复<a href="{{ url_for('main.user',username=comment.get_parent_comment_author) }}">
                    {{ comment.get_parent_comment_author }}</a>
                {% else %}
                    评论了
                {% endif %}
                &lt;&lt;<a href="{{ url_for('main.article', id=comment.article.id) }}">
                {{ comment.article.title | truncate(58) }}</a>&gt;&gt;
            </li>
            <li>
                {{ comment.local_time_format }}
            </li>
        </ul>
        <div class="comment_content">
            {% if current_user.can(Permission.MODERATE_COMMENTS) or not comment.disabled %}
                {% if comment.content_html %}
                    {{ comment.content_html | safe }}
                {% else %}
                    {{ comment.content }}
                {% endif %}
            {% endif %}
            {% if comment.disabled %}
                <p><i style="color: red;">此评论已被屏蔽</i></p>
            {% endif %}
            {% if current_user.can(Permission.MODERATE_COMMENTS) %}
            <div class="moderate">
                <button id ='com_{{ comment.id }}'{% if comment.disabled %} class="btn_follow_blue"
                        {% else %} class="btn_follow_blue btn_follow_red"{% endif %}
                    onclick=com_disa({{ comment.id }})>
                {% if comment.disabled %}解禁{% else %}屏蔽{% endif %}</button>
            </div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

{% include 'module/_ajax_pagination.html' %}
</div>